---
const { image, title, description, price, link } = Astro.props;
const isAvailable = link !== "#";
---

<div class="border-[#252627] border-[1px] w-[400px] rounded-xl bg-[#0e0e0e]">
  <div class="p-6">
    <img src={image.src} alt={image.alt || ""} class="h-48 w-full object-cover rounded-lg" />
    <p class="text-2xl pt-4 font-semibold">{title}</p>
    <p class="pt-2 text-[#abafb4]">{description}</p>

    {isAvailable ? (
      <a href={link} class="mt-4 inline-flex items-center gap-2 bg-[#209b78] text-sm text-white px-4 py-[6px] rounded-full hover:bg-[#1a7e63] transition">
        Desde {price}$
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
          <path d="M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42L17.59 5H14V3ZM5 5h7v2H7v10h10v-5h2v7H5V5Z"/>
        </svg>
      </a>
    ) : (
      <div class="mt-4 inline-block text-sm text-[#abafb4] px-4 py-[6px] border border-[#2e2e2e] rounded-full">
        Producto no disponible
      </div>
    )}
  </div>
</div>
